*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.escrita{
    font-family: "Farsan", cursive;
    font-weight: 400;
    font-style: normal;
}
.escrita-grande{
    font-size: 4em;
}
.escrita-media{
    font-size: 2.5em;
}
header{
    padding: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    font-size: 3em;
    font-weight: bold;
    display: inline-block;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links > a {
    text-decoration: none;
    color: black;
    margin-right: 8px;
    font-size: 0.9em;
    border-bottom: 0;
    transition: border-bottom 0.1s ease;
}
.banner{
    background-color: black;
    padding: 0;
    margin: 0;
    border: 0;
}
.banner img {
    transition: opacity 0.5s ease-in-out;
}
.links > a:hover {
    border-bottom: 3px solid;
}

.banner>img{
    width: 100%;
}
.produtos{
    padding: 60px;
    text-align: center;
}
.produtos>.titulo{
    font-size: 1.8em;
}
.ver-mais{
    font-size: 1.5;
    border-bottom: 2px solid black;
    margin: auto;
}
.lista-produtos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
}
.item{
    max-width: 260px;
    margin-bottom: 30px;
    
}
.item>.container>img{
    width: 100%;
}
.button-comprar{
    background-color: #1f1f1f;
    padding: 10px 50px;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    border: 3px solid #1f1f1f;
    margin-top: 15px;
    visibility: hidden;
}
.button-comprar:hover{
    background-color: white;
    color: #1f1f1f;
}
.container {
    position: relative;
    width: 100%;
}

.texto-sobre-imagem {
    position: absolute;
    top: 7%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bolder;
    background-color: rgba(26, 26, 26, 0.7);
    padding: 10px;
    border-radius: 5px;
    font-size: 0.6em;
}
.products-text{
    text-align: center;
}
.mb{
    margin-bottom: 15px;
}
.grande{
    font-size: 1.2em;
}
.medio{
    font-size: 0.8em;
}
.pequeno{
    font-size: 0.7em;
}
.orange-text{
    color: orangered;
}
.info{
    background-color: black;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-card{
    color: white;
    padding: 15px;
    max-width: 250px;
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.info-card > ion-icon {
    font-size: 70px;
    margin-bottom: 30px;
}

.linhas-produtos{
    background-color: black;
    padding: 20px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
    grid-gap: 20px
}
.linha{
    padding: 20px;
    background-color: #1f1f1f;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    flex-wrap: wrap;
    color: white;
}
.linha>p{
    min-width: 80%;
    padding: 10px;
}
.linha>p>a{
    padding: 10px 25px;
    border: 1px solid white;
    color: white;
    transition: border-bottom 0.2s ease;
}
.linha>p>a:hover{
    padding: 10px 25px;
    border: 1px solid white;
    background-color: white;
    color: #1f1f1f;
}
.linha1{
    grid-row: 1/3;
}

.depoimentos{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    background-color: black;
    padding: 60px;
    color: white;
}
.depoimentos-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.perfil{
    max-width: 80px;
    border-radius: 50%;
    border: 2px solid orangered;
    display: inline-block;
}
.depoimento-info{
    display: inline-block;
    max-width: 50%;
    text-align: center;
    margin-top: 20px;
    margin-left: 15px;
}
.card-depoimento{
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    max-width: 250px;
    text-align: left;
    margin: 10px;
}
.titulo-grande{
    font-size: 3em;
}
.titulo-medio{
    font-size: 1.5em;
}
.aspas{
    font-family: "Farsan";
    font-size: 2.5em;
    color: orangered;
    font-family: 'Times New Roman', Times, serif;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.cadastro{
    padding: 60px 50px 200px 50px;
    display: flex;
    justify-content: space-between;
}
.depoimento-text{
    max-width: 90%;
    text-align: center;
}
footer{
    background-color: white;
}
.cadastro{
    background-color: #252525;
    color: white;
}
input{
    padding: 5px;
}

.footer-text, .footer-cadastro{
    display: inline-block;
    max-width: 40%;
}

.footer-info {
    position: relative;
    max-width: 80%;
    height: 500px;
    top: -90px;
    margin: auto;
    margin-top: -50px;
    z-index: 2;
    background-color: white;
    border: 20px solid white;
}
.footer-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px
}
.loja-image{
    grid-column: 1/3;
}
.loja-image>img{
    width: 100%;
}
.whatsapp{
    grid-column: 3/4;
    background-color: #252525;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.whatsapp>p{
    width: 100%;
    text-align: center;
    color: white;
}
.social{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.social> ion-icon {
    font-size: 30px;
    margin-bottom: 30px;
    margin: 0 10px;
}
.footer-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer-card{
    max-width: 200px;
}
.copyright{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
}
.footer-info>p{
    max-width: 80%;
    text-align: center;
    margin: auto;
}
.footer-image{
    width: 40%;

}


/* Estilo para dispositivos móveis */
@media screen and (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .banner {
        height: auto;
    }

    .banner>img {
        width: 100%;
    }

    .produtos {
        padding: 30px;
    }

    .lista-produtos {
        justify-content: center;
    }

    .item {
        max-width: 100%;
        margin: 0 10px 30px;
    }

    .container > img {
        width: 100%;
    }

    .texto-sobre-imagem {
        font-size: 0.8em;
    }
    .linhas-produtos {
        display: flex;
        flex-direction: column;
    }

    .linha {
        width: 100%;
        margin-bottom: 20px;
    }

    .linha > p {
        text-align: center;
    }

    .linha1 {
        grid-row: auto;
    }
    .footer-cards{
        justify-content: center;
    }
    .footer-card{
        width: 80%;
    }
    .nav-bar {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 20px;
    }

    .links {
        margin-bottom: 20px;
    }
}
